.banner-principal__componente
  h1
    color: #6F7302

.additional-text
  border-left: 2px solid $color-primario
  border-right: 2px solid $color-primario

.row-intro-with-box
  position: relative
  > *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 45%
    bottom: 0
    left: 0
    right: 0
    background-color: #ECEDCC

.box
  &.border-radius-normal
    border-radius: 35px
  &.color-primario
    background-color: #ECEDCC

.image-exito
  figure
    margin-right: -50px
    height: 100%

hr.color-primario
  border-color: #A0A603
  border-bottom: 2px solid #A0A603
  height: 2px
  background-color: #A0A603
  opacity: 1

.tarjeta--gris
  background-color: #FAFAFA!important


      